
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <title>Middle Man's Blog</title>
  </head>
  <body>


<!-- Just an image -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ADF2CE;">
  <a class="navbar-brand" href="{% url 'home'%}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <a class="nav-link" href="https://twitter.com/MiddleManCyrpto">Twitter<li class="nav-item"> </a>
        <i class="fab fa-twitter"></i>
      </li>

    </ul>
  </div>
</nav>



    <h1> Welcome to the Middle Man's Blog </h1>
    {% load static %}
    <img src="{% static 'posts/home1.jpg' %}" />

	<h2><u> Latest Posts: </u></h2>
	<hr/>
	{% for post in posts.all %}

	<h3>  <a href="{% url 'post_detail' post.id %}">{{ post.title }}    </a></h3>
	<br />
	<br />

	<i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.pub_date_pretty}}
	<br />
	<br />

	<img src="{{ post.image.url}}" class="img-fluid mx-auto" " style="max-height:350px; display:block"/>
	<br />
	<br />
	{{post.summary}}
	<br />
	<br />

	{% endfor %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>



