<h1> Pig Latin Translator! </h1>
<br/>
<form action="{%  url 'home'  %}">

<h3>original: </h3>
{{original}}

<h3>Translation: </h3>
{{translation}}


<br />
<br />
New Translation
<br/>
<input type="submit" value=' New Translation!'/>